.post{
    overflow: hidden;
    border: 2px;
    border-style: solid;
    border-color: #D8C3A5;
    min-height: 70vh;
}

a .post{
    min-height: 200px;
    max-height: 30vh;
}

a .post:hover {
    border-color: #E98074;
}