.main-body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: calc(95vh - 176px);
}

.App {
  background-color: #EAE7DC;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.text-red {
  color: #E85A4F;
}

.text-grey {
  color: #8E8D8A;
}

.text-dark-grey {
  color: #404040;
}

a:hover {
  color: black;
}
